@model ProjektInzynier.Models.ProductModel

@{
    ViewData["Title"] = "Create";
}

<br/>
<br/>
<div class="container">


    <form class="form-horizontal" role="form" method="POST" asp-action="Create" asp-controller="Product">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="animated bounceIn"><i class="fas fa-plus-circle"></i> Dodawanie produktu do bazy</h2>

                <p class="animated bounceIn"> Proszę podać dane produktu</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label asp-for="ProductName" for="construction">Nazwa materiału</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-align-center"></i></div>
                        <input asp-for="ProductName" class="form-control" id="password"
                               placeholder="Nazwa materiału" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label asp-for="TechnicalParameters" for="construction">Parametry Techniczne</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-drafting-compass"></i></div>
                        <input asp-for="TechnicalParameters" class="form-control" id="password"
                               placeholder="Parametry techniczne" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label asp-for="Localization" for="investor">Lokalizacja w projekcie</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-map-pin"></i></div>
                        <input asp-for="Localization" class="form-control" id="password"
                               placeholder="Lokalizacja w projekcie" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label asp-for="ProducentName" for="supervision">Nazwa producenta</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fab fa-product-hunt"></i></div>
                        <input asp-for="ProducentName" class="form-control" id="password"
                               placeholder="Nazwa producenta" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label asp-for="ProducentAdress" for="contractor">Adres producenta</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-address-book"></i></div>
                        <input asp-for="ProducentAdress" class="form-control" id="password"
                               placeholder="Adres producenta" required>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Dodaj produkt do bazy</button>
                <a asp-controller="Product" asp-action="Index"><button type="button" class="btn btn-secondary"><i class="fa fa-backward"></i> Wróć do listy produktów</button></a>

            </div>
        </div>
    </form>
</div>

