@model IEnumerable<ProjektInzynier.Models.IndustryModel>


@{
    ViewData["Title"] = "Index";
}

<br/>
<br />
<div align="center"><h2 class="animated bounceIn">Lista dostępnych branż budowlanych</h2></div>

<div align="center">
    @if (User.IsInRole("Producent"))
    {
        <p>
            <a asp-action="Create">
                <i class="fas fa-plus-circle"></i><button type="button" class="btn btn-warning animated zoomIn">Dodaj branżę do bazy</button>

            </a>
        </p>
    }
</div>

<div align="center">

    @foreach (var item in Model)
    {
        
            <a asp-action="Index" asp-controller="Product" asp-route-id="@item.ID"><i class="fa fa-tint"></i><button type="button" class="btn btn-primary btn-lg btn3d"><span class="glyphicon glyphicon-cloud"></span> @item.IndustryName</button></a>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a asp-action="Edit" asp-route-id="@item.ID" class="dropdown-item">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="dropdown-item">Usuń</a>

            </div>
       

    }
    </div>




