
@using ProjektInzynier.Helpers
@model ProjektInzynier.Models.CartModel


      
    <a class="nav-link"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>


