@using Microsoft.AspNetCore.Authorization.Infrastructure

<div align="center">
    <div class="jumbotron">
        <h1 class="display-4 animated zoomIn">Witaj w programie do wykonywania dokumentacji budowlanej</h1>
        <h3 class="animated zoomIn">Program BudSoft (nazwa kodowa Projekt Inżynier) jest programem pomocnicznym w codziennej pracy inżyniera budowlanego, kierownika lub właściciela firmy budowlanej. </h3>
        <h3 class="animated zoomIn">Program pozwala automatycznie (bazując) na wyborach użytkownika wygenerować wniosek o akceptację materiałów użytych podczas budowy.</h3>
        <h3 class="animated zoomIn">Planowana dodatkowa funkcjonalność:</h3>
        <p class="animated pulse">- Generowanie faktur za użyte materiały</p>
        <p class="animated pulse">- Dodanie indywidualnego profilu inżyniera</p>
        <p class="animated pulse">- I wiele innych funkcjonalności już wkrótce !</p>
        <p><a id="button1" class="btn btn-primary btn-lg" href="#" role="button"><i class="fas fa-info"></i> Aktualna wersja</a></p>
        <p><a id="button2" class="btn btn-primary btn-lg" href="#" role="button"><i class="far fa-question-circle"></i>  Autorzy</a></p>
    </div>
</div>

<blockquote class="blockquote text-right">
    <p class="mb-0">"Ja tam jestem ateistą i krzyżyków w glazurnictwie nie uznaję"</p>
    <footer class="blockquote-footer"><cite title="Source Title">Pan Wiesio</cite></footer>
</blockquote>

<script>
    $(document).ready(function(){
        $("#button2").click(function(){
            alert("Programowanie i Layout: Jarosław Dzikliński\n\Konsultacja merytoryczna: Mgr Inż. Konrad Hamerla");
        });

        $("#button1").click(function() {
            alert("Aktualna wersja 0.0.3");
        });
    });
</script>




