@model ProjektInzynier.Models.OrderModel
    <br />
    <br />
    <div class="container">


        <form class="form-horizontal" role="form" method="POST" asp-action="Create" asp-controller="Excel">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="animated bounceIn"><i class="fas fa-check-square"></i> Finalizowanie dokumentacji</h2>

                    <p class="animated bounceIn"> Proszę podać dane firmy aby sfinalizować dokumentację</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label asp-for="Name">Imię i nazwisko</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-user"></i></div>
                            <input asp-for="Name" type="text" name="Name" class="form-control" id="name"
                                   placeholder="Imię i nazwisko inżyniera" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                                            </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label asp-for="Construction" for="construction">Budowa</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-building"></i></div>
                            <input asp-for="Construction" class="form-control" id="password"
                                   placeholder="Nazwa i adres budowy" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label asp-for="Investor" for="investor">Inwestor</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-hand-holding-usd"></i></div>
                            <input asp-for="Investor" class="form-control" id="password"
                                   placeholder="Nazwa inwestora" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label asp-for="Supervision" for="supervision">Nadzór</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-eye"></i></div>
                            <input asp-for="Supervision" class="form-control" id="password"
                                   placeholder="Nadzór budowlany" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label asp-for="Contractor" for="contractor">Wykonawca</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-screwdriver"></i></div>
                            <input asp-for="Contractor" class="form-control" id="password"
                                   placeholder="Wykonawca inwestycji" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label asp-for="IndustryEngineer" for="contractor">Projektant branżowy</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-chalkboard-teacher"></i></div>
                            <input asp-for="IndustryEngineer" class="form-control" id="password"
                                   placeholder="Projektant branżowy" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fas fa-file-excel"></i> Wykonaj dokumentację (Format Excel)</button>
                    
                </div>
            </div>
        </form>
    </div>

